<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rechinx.pixiv_e">

    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="com.rechinx.pixiv_e.support.glide.CustomGlideModule"
        android:value="GlideModule" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Light">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.App.Light" />
        <activity
            android:name=".activity.WorkDetailsActivity"
            android:label="@string/title_activity_work_details"
            android:theme="@style/Theme.App.Light" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activity.FollowingActivity"
            android:label="@string/title_activity_collection"
            android:theme="@style/Theme.App.Light" />
        <activity
            android:name=".activity.FavoriteActivity"
            android:label="@string/title_activity_favorite"
            android:theme="@style/Theme.App.Light" />
        <activity
            android:name=".activity.PhotoViewDetailsActivity"
            android:label="@string/title_activity_photo_view_details"
            android:theme="@style/Theme.App.Light" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"></activity>
    </application>

</manifest>